body {
    text-align: center;
    background-color: black;
    color: white;

}

.empty {
    background-color: white;
    color: black;

}

.bomb {
    background-color: white;
    color: white;

}

/* .bomb .hide {} */

/* .board-container {
    display: none;
} */

/* .board {
    border: 1px solid white;
    text-align: center;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
} */


.board td {
    color: red;
    border: 1px solid white;
    text-align: center;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
}

.board {
    color: black;

}

.hide {
    display: inline block;
    color: white;
    text-align: center;

}